.generic-card {
    background-color: var(--white);
    width: 100%;
    height: 100%;
    padding: 20px;

    .generic-card__img {
        position: relative;

        &:before {
            display: block;
            content: "";
            width: 100%;
            padding-top: calc((101 / 180) * 100%);
        }

        .generic-card__img__inner {
            position: absolute;
            top: 0;
            right: 0;
            bottom: 0;
            left: 0;

            img {
                width: 100%;
                height: 100%;
                object-fit: cover;
            }
        }
    }

    .generic-card__title {
        @include font-size(26px, 24px, 24px, 22px);
        margin-top: 12px;
        font-family: $font-family-semibold;
    }

    .generic-card__desc {
        @include font-size(18px, 16px, 16px, 12px);
        margin-top: 12px;
        font-family: $font-family-medium;
    }
    .generic-card__btn{
        @include font-size(20px, 18px, 18px, 16px);
        margin-top: 12px;
        font-family: $font-family-medium;
        color: var(--main-color);
        text-decoration: none;
    }

}